<div class="chart">

	<div class="strings">
		<div class="string string-6"></div>
		<div class="string string-5"></div>
		<div class="string string-4"></div>
		<div class="string string-3"></div>
		<div class="string string-2"></div>
		<div class="string string-1"></div>
	</div>

	<div class="frets">
		<div class="fret fret-0"></div>
		<div class="fret fret-1"></div>
		<div class="fret fret-2"></div>
		<div class="fret fret-3"></div>
		<div class="fret fret-4"></div>
		<div class="fret fret-5"></div>
		<div class="fret fret-6"></div>
		<div class="fret fret-7"></div>
		<div class="fret fret-8"></div>
		<div class="fret fret-9"></div>
		<div class="fret fret-10"></div>
		<div class="fret fret-11"></div>
		<div class="fret fret-12"></div>
	</div>
	
	<div class="fret-numbers">
		<div class="fret-number fret-number-3">3</div>
		<div class="fret-number fret-number-5">5</div>
		<div class="fret-number fret-number-7">7</div>
		<div class="fret-number fret-number-10">10</div>
	</div>

</div><!-- end .chart -->

<div class="notes">
	<div class="note note-string-6 note-<%= @chord_chart['notes'][0] %>"></div>
	<div class="note note-string-5 note-<%= @chord_chart['notes'][1] %>"></div>
	<div class="note note-string-4 note-<%= @chord_chart['notes'][2] %>"></div>
	<div class="note note-string-3 note-<%= @chord_chart['notes'][3] %>"></div>
	<div class="note note-string-2 note-<%= @chord_chart['notes'][4] %>"></div>
	<div class="note note-string-1 note-<%= @chord_chart['notes'][5] %>"></div>
</div>
